@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");


body {
   background-color: #000;
   color: #FFF;
   font-family: "Poppins", serif;
}

header {
left: 0;
        right: 0;
        background-color: #000;
        font-size: medium;
        padding: 0.5rem 0.75rem;
}

a {
  color: white;
}

a:hover {
    color: grey;
}

iframe {
  width: 100%;
  height: 900px;
  margin-top: 50px;
}

button {
  background-color: #000;
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Poppins", serif;
  font-size: large;
}
button:hover {
       background-color: grey;
}
